*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden ;
}
.App {
  background-color: #FFFFFF;
  display: flex;
}

.coluna-50 {
  width: 50%;
}
.coluna-50 img{
  width: 100%;
  height: 100vh;
}


